include includes/head.pug

body

  include includes/header.pug

  section.hero.is-primary
    .hero-body.accueil
      div
        h1.title Qui Sera Le Meilleur ?!
        h2.subtitle Connectez-vous pour jouer avec vos amis !

        p Rejoignez des salons pour jouer avec d'autres personnes. 
        br
        br

        p Les règles sont simples. 
        br

        p Un joueur dessine les autres doivent trouver le mot dans un délai qui sera choisi au lancement de la partie.
        br 

        ul
          li - Les joueurs joueront tour par tour 

          li - Le nombre de tour sera choisi par la personne qui va lancer la session de jeu

          li - Le premier à trouver le mot aura par exemple 60 points le deuxième 50 points etc..

          li - Si la personne ne trouve pas le mot dans les temps elle aura 0 point puis ça sera au second joueur de jouer

        br
        p AYEZ LE MEILLEUR SCORE !


      div.accueilImage
        img(src="/images/paint.png")

  include includes/footer.pug






